
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Generated reports and artifacts
allure-report/
allure-results/
screenshots/
test-results.json
.env
.DS_Store
